@import url('https://fonts.googleapis.com/css?family=Lato');

:root{
	--bodyfont:'Lato', sans-serif;
	--blend : multiply;
	--bgcolor :#555b6d;
}

body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.5;
    font-family: sans-serif;
    font-family:var(--bodyfont) ;
}
*,*::before,*::after{
	box-sizing: border-box;
}

/* A div project container will have 4 divs.projects display flex
each .projects flexbasis 25% flexgrow 1 and an ::after and cursor pointer
::after background-image scale(1.1) and apacity layer on hover scale(1) and opacity of filter 1
project-details translatex(-100%)  on image loaded translateX(0)
on click on any project add class expand
.expand flexbasis 100% width 100vw backround-position fixed
a cross vsibility hidden  on .expand visibility visible
project-descripton visible on .expand
on click on cross remove class expand
on mobile flex-direction column 
background-blend-mode:*/

.fullcontainer{
	width: 100vw;
	height: auto;
	position: relative;
}
.projContainer{
	width: 100vw;
	height: 100vh;
	background: pink;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.project{
	width: 25vw;
	cursor: pointer;
	flex-basis: 25%;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 0% 2.5%;
	overflow-x: hidden;
	overflow-y: hidden;
	transition: all 0.8s;
}
.project::after{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	transform: scale(1.1);
	transition: transform 0.8s 0.1s;
}
.project:hover::after{
	transform: scale(1);
}
.project1::after{
	background-color:var(--bgcolor);
	background-image: url('img/party.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0% 50%;
	background-blend-mode: var(--blend);
}
.project2::after{
	background-color:var(--bgcolor);
	background-image: url('img/bridge2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	background-blend-mode: var(--blend);
}
.project3::after{
	background-color: var(--bgcolor);
	background-image: url('img/beer.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	background-blend-mode: var(--blend);
}
.project4::after{
	background-color:var(--bgcolor);
	background-image: url('img/forest.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	background-blend-mode: var(--blend);
}
.projIntro{
	color: white;
	z-index: 2;
	text-align: center;
	transform: translateX(-110%);
	transition: transform 0.8s;
}
.projIntro.itsloaded{
	transform: translateX(0%);
}
.projBody{
	display: none;
}
.projTitle{
	font-size: 2rem;
    font-weight: 800;
}
.projDescription{
	font-size: 1.1rem;
}
.project.expand{
	width: 100vw;
	flex-grow: 1;
	flex-basis: 100%;
	flex-direction: column;
}
.project.shrink{
	width: 0;
    flex-grow: 0;
    flex-basis: 0;
    padding: 0;
}

/***************close icon***********/
.close{
	display: none;
	position: absolute;
	top: 6%;
	right: 3.5%;
	width: 7vh;
	height: 7vh;
	z-index: 3;
	background:url(img/cross.png);
	background-size: cover;
	background-position: 50% 50%;
}

/*********/
.showme{
	display:initial;
	width: 100%;
	height: auto;
	position: absolute;
	top: 100vh;
	left: 0;
}
.addscroll{
	overflow-y: auto;
}










